#akash {
    width: auto;
    height: 200px;
    background-color: blueviolet;
}

#akhil {
    width: auto;
    height: 200px;
    background-color: red;
}

#akshay {
    width: auto;
    height: 200px;
    background-color: lawngreen;
}
.h1{
    font-size: 24px;
    text-align: center;
    margin: 40px;
    color: rgb(35, 35, 36);
}
#box{
    width: auto;
    height: 50px;
    
}
.img{
    float: left;
    margin: 4px;
    
}