#akash {
    width: auto;
    height: 200px;
    background-color: blueviolet;
}

#akhil {
    width: auto;
    height: 200px;
    background-color: red;
}

#akshay {
    width: auto;
    height: 200px;
    background-color: lawngreen;
}